* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope-VariableFont_wght", sans-serif;
}

body {
  background-color: #FFFDF9;
}

.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

button{
  border: none;
}


@font-face {
  font-family: "TriodPostnaja";
  src: url("../TriodPostnaja.ttf");
}
@font-face {
  font-family: "Manrope-VariableFont_wght";
  src: url("../Manrope-VariableFont_wght.ttf");
}


.time-controls {
  margin-left: 20px; /* Отступ между календарем и контролами времени */
}


.account-actions {
  display: flex;
  justify-content: flex-end; /* Выравнивание кнопок вправо */
  margin-top: 20px; /* Отступ сверху для разделения */
}

.account-actions button {
  margin-left: 10px; /* Отступ между кнопками */
}
table {
  width: 100%; /* Таблица занимает всю ширину контейнера */
  border-collapse: collapse; /* Убираем пробелы между ячейками */
}

th,
td {
  border: 1px solid #ccc; /* Добавляем границы для ячеек */
  padding: 8px; /* Добавляем отступы внутри ячеек */
  text-align: left; /* Выравнивание текста в ячейках */
}


.interval-form {
  margin: 20px auto 40px auto;
  background-color: #fffdf9;
  padding: 80px;
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
}



.submit-button {
  background-color: #22cbbd;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #22cbbd;
}

.message {
  margin-bottom: 15px;
  text-align: center;
}

.form-select {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-select option {
  font-size: 20px;
}




.edit-account {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.edit-account input[type="text"],
.edit-account input[type="password"] {
  margin: 5px 15px;
  font-size: 20px;
  border: none;
}

.edit-account input[type="text"]:active {
  border: none;
}

.edit-account {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
}

.password-controls {
  margin-top: 15px;
}

.password-input {
  display: flex;
  align-items: center;
}

.password-icon {
  margin-left: 10px;
  cursor: pointer;
}

.right-section button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #82320f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.right-section button:hover {
  background-color: #a54012;
}
.button-group button {
  padding: 10px 25px;
  font-size: 1rem;
  background-color: #82320f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.button-group button:hover {
  background-color: #a54012;
}

.edit-account .password-controls button {
  background-color: #c59a88;
  color: #fff;
}

.edit-account .password-controls button:hover {
  background-color: #bf4c1b;
}

.passwordIcon {
  cursor: pointer;
  color: #9e835e;
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.8s;
}

.passwordIcon:hover {
  color: #63523b;
}

.passwordInput {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordInput input {
  width: 100%;
  padding-right: 40px; /* Оставляем место для иконки */
}

.passwordIcon {
  position: absolute;
  cursor: pointer;
}
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-block {
  background-color: #fffdf9;
  padding: 60px 50px;
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
  text-align: center;
}

.reg {
  width: 980px;
}

.log {
  width: 580px;
}

.forget {
  width: 680px;
}

.auth-title {
  font-family: "TriodPostnaja";
  color: #63523b;
  font-size: 34px;
  margin-bottom: 24px;
}

.auth-message.error {
  color: rgba(220, 95, 11, 0.7);
}

.auth-message.success {
  color: #63523b;
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 50px;
}

.error-label {
  color: rgba(220, 95, 11, 0.7);
}

.auth-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
}

.auth-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Интервал между label и input */
}

.auth-column label {
  display: block;
}

.auth-input {
  font-size: 18px;
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #9e835e;
  color: #63523b;
}

.reg input {
  display: block;
  width: 200px;
}

.auth-input::placeholder {
  color: #9e835e;
  opacity: 50%;
}

.auth-input:focus {
  outline: none;
  border-bottom: 3px solid #9e835e;
}

.auth-input::placeholder {
  color: #9e835e;
  opacity: 50%;
}

.auth-input:focus {
  outline: none;
  border-bottom: 3px solid #9e835e;
}

.error-input {
  border-bottom: 3px solid #dc5f0b !important;
  color: #8b3c07;
}

.auth-button {
  margin: 0 auto;
  min-width: 220px;
  font-size: 20px;
  background-color: #63523b;
  color: #fffdf9;
  margin-top: 33px;
  padding: 10px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #9e835e;
}

.auth-button:disabled {
  background-color: rgba(158, 131, 94, 0.6);
  cursor: not-allowed;
}

.auth-info{
  margin-top: 20px;
  font-size: 18px;
  color: #9e835e;
}

.auth-links {
  font-size: 18px;
  margin-top: 33px;
}

.auth-links p {
  color: #9e835e;
  margin-bottom: 10px;

}

.auth-links {
  margin-top: 33px;
}

.auth-links p {
  font-size: 18px;
  color: #9e835e;
}

.auth-link {
  color: #63523b;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}
.auth-message {
  font-size: 18px;
  opacity: 0;
  max-height: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, max-height 0.8s ease-in-out,
    padding 0.8s ease-in-out, visibility 0s linear 0.8s;
}

.auth-message.fade-in {
  opacity: 1;
  max-height: 100px;
  padding: 10px 0;
  visibility: visible;
  transition: opacity 0.8s ease-in-out, max-height 0.8s ease-in-out,
    padding 0.8s ease-in-out, visibility 0s linear;
}

.auth-message.fade-out {
  opacity: 0;
  max-height: 0;
  padding: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, max-height 0.8s ease-in-out,
    padding 0.8s ease-in-out, visibility 0s linear 0.8s;
}
