.time-controls {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.form-label {
  text-align: left;
  font-weight: normal;
  margin: 10px 0;
  display: block;
  font-size: 18px;
  color: #9e835e;
}

.text-secondary {
  color: #9e835e;
  font-size: 18px;
}

fieldset.date-selection-method {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0; 
  width: 490px;
  text-align: center;
  margin: 10px 0 30px 0;
}

fieldset.date-selection-method legend {
  display: contents;
  width: 100%;
  text-align: center;
  font-size: inherit;
  font-weight: normal;
  color: inherit;
  padding: 0;
  margin: 0;
}

/* Ваши существующие стили кнопок (оставляем без изменений) */
.mode-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #9e835e;
  padding: 0;
  margin: 0 5px;
  transition: 0.3s;
}

.mode-btn.selected {
  color: #63523b;
  text-decoration: underline;
}

.mode-btn:hover {
  color: #63523b;
}

/* Дополнительный стиль для контейнера кнопок */
.method-buttons {
  display: inline-block; /* или flex, если нужно */
}
.time-select__control {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  width: 320px !important;
  padding: 7px 12px !important;
  margin: 15px 0 15px 0 !important;
  border: 2px rgba(158, 131, 94, 0.6) solid !important;
  border-radius: 0 !important;
  background-color: #fffdf9 !important;
  text-align: left;
  cursor: pointer !important;
  color: #63523b !important;
  font-size: 16px;
}

.time-select__control,
.time-select__control:focus,
.time-select__control:focus-visible {
  outline: none !important;
  border: 2px rgba(158, 131, 94, 0.6) solid !important;
}

.time-select__menu {
  background-color: #fffdf9 !important;
  box-shadow: none !important;
  border: 2px rgba(158, 131, 94, 0.6) solid !important;
  border-radius: 0 !important;
}

.time-select__control--is-focused {
  box-shadow: none !important;
}
.time-select__control--is-disabled {
  background-color: #f5f1ea !important;
  border: 2px rgba(158, 131, 94, 0.6) solid !important;
  cursor: not-allowed !important;
  color: rgba(158, 131, 94, 0.5) !important;
}
.time-select__option {
  padding: 10px;
  background-color: #fffdf9 !important;
  color: #63523b !important;
  cursor: pointer;
}

.time-select__option:hover {
  background-color: rgba(158, 131, 94, 0.6) !important;
  color: #fffdf9 !important;
}

.time-select__option--is-selected {
  background-color: #9e835e !important;
  color: #fffdf9 !important;
}

.time-select__option--is-focused {
  background-color: rgba(158, 131, 94, 0.6) !important;
  color: #fffdf9 !important;
}

.time-select__placeholder {
  color: #63523b !important;
}

.time-select__single-value {
  background-color: #fffdf9 !important;
  color: #63523b !important;
}

.time-select__single-value--is-disabled {
  color: rgba(158, 131, 94, 0.5) !important;
}

.time-select__control--is-disabled,
.time-select__control[disabled] {
  background-color: #f5f1ea !important;
  border: 2px rgba(158, 131, 94, 0.6) solid !important;
  cursor: not-allowed !important;
  color: rgba(158, 131, 94, 0.5) !important;
}

.time-select__single-value--is-disabled {
  color: rgba(158, 131, 94, 0.5) !important;
}

.time-select__placeholder {
  color: rgba(158, 131, 94, 0.5) !important;
}

.time-select__menu {
  background-color: #fffdf9 !important;
  box-shadow: none !important;
  border: 2px rgba(158, 131, 94, 0.6) solid !important;
  border-radius: 0 !important;
}

.time-select__option--is-disabled {
  color: rgba(158, 131, 94, 0.5) !important;
  background-color: #f5f1ea !important;
  cursor: not-allowed !important;
}

.form-wrapper .time-controls {
  justify-content: center;
}

.form-select {
  margin-top: 5px;
  padding: 5px;
  width: 100%;
  border: 1px solid #fffdf9;
  border-radius: 4px;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.form-wrapper form {
  display: flex;
}

.form-button {
  margin: 0 auto;
  min-width: 220px;
  font-size: 20px;
  background-color: #63523b;
  color: #fffdf9;
  margin-top: 33px;
  padding: 10px 50px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #9e835e;
}

.form-button:disabled {
  background-color: rgba(158, 131, 94, 0.6);
  cursor: default;
}

.time-controls .form-button {
  margin: 40px 0 0 0;
  width: 320px;
}

textarea {
  width: 100%;
  min-height: 70px;
  padding: 15px 20px;
  border: 2px solid rgba(158, 131, 94, 0.6);
  background-color: #fffdf9;
  color: #63523b;
  font-size: 16px;
  resize: none;
  box-sizing: border-box;
  outline: none;
}

textarea:focus {
  border-color: #9e835e;
}

textarea::-webkit-resizer,
textarea::-webkit-scrollbar {
  display: none;
}

.align-left {
  align-items: flex-start;
  margin-left: auto;
}

@media (max-width: 1264px) {
  .form-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .time-controls {
    align-items: flex-end;
    padding: 0;
  }

  .form-label {
    font-size: 17px;
  }

  .form-button {
    padding: 12px 25px;
  }
  .align-left {
    align-items: flex-start;
    margin-left: auto;
    padding: 0;
  }

  fieldset.date-selection-method {
    width: 450px;
  }
}

@media (max-width: 1190px) {

  fieldset.date-selection-method {
    width: 400px;
  }

  .time-controls {
    align-items: flex-end;
    padding: 0 0 0 40px;
  }

  .form-label {
    font-size: 17px;
  }

  .mode-btn, .text-secondary {
    font-size: 17px;
  }

  .form-button {
    font-size: 17px;
    padding: 12px 25px;
  }

  .time-select__control {
    width: 290px !important;
    padding: 7px 12px !important;
    margin: 15px 0 15px 0 !important;
    font-size: 16px;
  }
  .time-controls .form-button {
    margin: 40px 0 0 0;
    width: 290px;
  }

  .align-left {
    align-items: flex-start;
    margin-left: auto;
    padding: 0;
  }
}

@media (max-width: 1090px) {
  .form-wrapper {
    flex-direction: row;
  }

  fieldset.date-selection-method {
    width: 370px;
  }

  .time-controls {
    align-items: flex-end;
    padding: 0;
  }

  .time-controls .form-button {
    font-size: 17px;
    margin: 25px 0 0 0;
    padding: 12px 25px;
  }

  .time-select__control {
    width: 300px;
    padding: 4px 9px !important;
    margin: 15px 0 15px 0 !important;
    font-size: 16px;
  }
  .align-left {
    align-items: flex-start;
    margin-left: auto;
    padding: 0;
  }
}

@media (max-width: 980px) {
  fieldset.date-selection-method {
    width: 340px;
    font-size: 16px;
  }

  .time-controls {
    justify-content: center;
    padding: 0;
  }

  .form-button {
    font-size: 17px;
    padding: 12px 25px;
  }

  .time-select__control {
    width: 260px !important;
    padding: 5px !important;
    margin: 10px 0 !important;
    font-size: 16px;
  }
  .align-left {
    align-items: flex-start;
    margin-left: auto;
    padding: 0;
  }

  .form-wrapper .time-controls {
    justify-content: center;
  }

  .time-controls .form-button {
    width: 260px;
  }
}

@media (max-width: 880px) {
  .form-label {
    font-size: 16px;
  }

  fieldset.date-selection-method {
    width: 320px;
    font-size: 16px;
    margin: 10px 0 15px 0;
  }

  .mode-btn, .text-secondary {
    font-size: 16px;
  }

  .time-controls {
    justify-content: center;
    padding: 0;
  }

  .form-button {
    font-size: 17px;
    padding: 12px 25px;
  }

  .time-select__control {
    width: 220px !important;
    padding: 3px 5px !important;
    margin: 10px 0 !important;
    font-size: 16px;
  }
  .align-left {
    align-items: flex-start;
    margin-left: auto;
    padding: 0;
  }

  .form-wrapper .time-controls {
    justify-content: center;
  }

  .time-controls .form-button {
    font-size: 16px;
    width: 220px;
    margin-top: 20px;
    padding: 10px 20px;
  }

  .time-controls .form-label {
    margin: 5px 0;
  }
}

@media (max-width: 780px) {
  .form-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .time-controls {
    align-items: flex-end;
    padding: 0 0 0 40px;
  }

  .form-wrapper .time-controls {
    padding: 0;
    margin: 0;
  }

  .form-button {
    font-size: 17px;
    padding: 12px 25px;
  }
  .align-left {
    align-items: flex-start;
    margin-left: auto;
    padding: 0;
  }

  fieldset.date-selection-method {
    width: 300px;
  }
}

@media (max-width: 700px) {
  fieldset.date-selection-method {
    width: 100%;
    max-width: 340px;
    margin: 5px auto 25px auto;
  }

  .time-select__control {
    min-width: 300px !important;
    width: 100% !important;
    max-width: 360px !important;
    margin: 15px auto !important;
  }

  .align-left {
    justify-content: center;
    padding: 0;
  }

  .time-controls {
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 10px 0 0 0;
  }

  .time-controls .form-button {
    min-width: 300px;
    font-size: 18px;
    margin: 20px 0;
  }

  .form-wrapper {
    justify-content: center;
    align-items: center;
  }

  .form-wrapper .time-controls {
    margin: 20px 0 0 0;
  }

  .time-select__control {
    padding: 6px 10px !important;
  }

  .form-button {
    padding: 10px;
  }

  .form-label {
    font-size: 18px;
  }

  .mode-btn, .text-secondary {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  fieldset.date-selection-method {
    width: 100%;
    max-width: 320px;
    margin: 5px auto 20px auto;
  }

  .time-select__control {
    min-width: 260px !important;
    width: 100% !important;
    max-width: 320px !important;
    margin: 15px auto !important;
    font-size: 14px !important;
  }

  .align-left {
    justify-content: center;
    padding: 0;
  }

  .time-controls {
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
    padding: 0;
  }

  .time-controls .form-button {
    max-width: 350px;
    font-size: 16px;
    margin: 20px 0;
  }

  .form-wrapper {
    justify-content: center;
    align-items: center;
  }

  .form-label {
    font-size: 15px;
  }

  .mode-btn, .text-secondary {
    font-size: 14px;
  }

  .time-select__control {
    font-size: 14px !important;
    padding: 3px 10px !important;
  }

  .time-controls .form-button {
    font-size: 15px;
    padding: 10px;
    min-width: 260px;
  }

  textarea {
    font-size: 13px;
  }
}
