.nav {
  width: 1200px; 
  margin: 5px 0 25px 0; 
  display: flex;
}

.nav ul{
  display: flex;
}

.nav li{
 list-style: none;
}

.nav li .nav-link {
  padding: 10px 20px;
  margin-left: 0;
  margin-right: 30px;
  text-decoration: none;
  border-bottom: #9e835e80 2px solid;
  color: #9e835e80;
  transition: 0.3s;
  font-size: 18px;
}

.nav li .nav-link:hover {
  color: #9e835e99;
  border-bottom: #9e835e99 2px solid;
  transition: 0.3s;
}

.nav li .nav-link.active {
  border-bottom: #9e835e 2px solid;
  color: #9e835e;
}


@media (max-width: 1264px) {
  .nav {
    width: 100%;
  }

}



@media (max-width: 780px) {
  .nav {
    width: 90%;
  }

}



@media (max-width: 480px) {
  .nav {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
    margin: 5px 0; /* Центрирование по горизонтали */
  }

  .nav-link {
    font-size: 14px;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
  }
}
